#filter-box {
  position: absolute;
  background: white;
  width: 130px;
  right: 20px;
  z-index: 5;
  top: 170px;
  background-color: $box-background;
  padding: 10px;
  font-size: 14px;
}

.filter-content {
  display: flex;
  margin: 0;
}

// #filter-query button {
//   margin-top: 10px;
// }

.selection {
  display: block;
  padding: 10px 40px 10px 10px;
  height: auto;
  border: 1px solid #dadada;
  border-radius: 0px;
  background: url("https://cdn.iconscout.com/icon/free/png-256/dropdown-25-475073.png")
    right no-repeat;
  background-color: #fff;
  background-size: 20px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.subway-bttn {
  padding: 10px;
  border: 1px solid #dadada;
  background-color: #ff8e80;
}

#subway-hide {
  margin-right: 10px;
}
