.app-header {
  background-color: $theme-blue;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  display: flex;
  color: #ff8e80;
  height: 60px;
  width: 100%;
  z-index: 5;
  left: 0;
  top: 0;
}

.app-title {
  align-items: center;
  padding-left: 2.2em;
  display: flex;
  margin: 0;
}

.app-title {
  font-size: 24px;
  letter-spacing: 0.3em;
}

.app-logo {
  position: absolute;
  width: 25px;
  left: 15px;
  top: 15px;
}

img {
  width: 100px;
  height: auto;
}
